.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container h2{
  font-size: 44px;
  color: brown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.square-board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 2px solid black;
}
.square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  box-sizing: border-box;
  cursor: pointer;
}
.circle {
  color: blue;
}
.cross {
  color: red;
}
